#header.compact
{
    width: 100%;
    
    position: fixed;
    margin-top: -150px;
    
    box-shadow: 0 0 8px black;
    background-color: white;
}

#navigation
{
    height: 256px;
    width: 100%;
	
	background-color: #c0c0c0;
}

#map_canvas
{
    width: 100%;
    height: 100%;
}

/* LOCATION */
#navigation  .location
{
	top: 0px;
	left: 10px;
	
	float: left;
	z-index: 1;
	position: fixed;
	
	font-size: 36px;
	font-family: Myriad Pro;
	background-color: #c0c0c0;
}

/* TODO: Replace text with image? */
#navigation .location .city_name
{
	color: #d3d3d3;
}

#navigation .location #location_near
{
	font-size: 12pt;
}

/* USER */
#navigation #user
{
	top: 5px;
	right: 5px;

	float: right;
	position: fixed;
	z-index: 1;
}
