#query
{
	height: 48px;
	width: 100%;
	
	background-color: #6e6e6e;
}

#query .seperator
{
	width: 1px;
	height: 38px;
	margin: 1px;
	
	float: left;
	
	background-color: #6e6e6e;
}

/* FILTER */

#query #filter
{
	margin-top: 4px;
	margin-left: 4px;

	float:left;
	
	background-color: #d3d3d3;
}

#query #filter .menu
{
    cursor: pointer;
}

#query #filter .arrow
{
	width: 16px;
	height: 40px;
	
	float:right;
	
	background-image: url('../static/query/filter/arrow.gif')
}

#query #filter .by_category
{
	width: 275px;
	height: 40px;
	
	float: left;
}

#query #filter .by_category .category_icon
{
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	float: left;
	
	background-color: #bebebe;
}

#category_arts
{
    background-image: url('../static/category/arts.gif')
}

#category_music
{
    background-image: url('../static/category/music.gif')
}

#category_academic
{
    background-image: url('../static/category/academic.gif')
}

#category_foodwine
{
    background-image: url('../static/category/foodwine.gif')
}

#category_film
{
    background-image: url('../static/category/film.gif')
}

#category_outdoors
{
    background-image: url('../static/category/outdoors.gif')
}

#query #filter .by_datetime
{
	width: 130px;
	height: 40px;
	
	float: left;
}

#query #filter .by_datetime .range
{	
    width: 114px;    
    
	float: left;
	
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	font-family: Myriad Pro;
	color: #6e6e6e;
	overflow: hidden;
}

#query #filter .info
{
	width: 55px;
	height: 40px;

	float: left;
}

#query #filter .info .message
{	
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;

	vertical-align: center;
	display: table;

	font-size: 12px;
	font-family: Myriad Pro;
	color: #6e6e6e;
}

#query .search_button
{
	width: 70px;
	height: 40px;
	margin-left: 6px;
	margin-top: 4px;
	
	float: left;
	
	text-align: center;
	line-height: 40px;
	background-color: #323232;
	border: 0px;
}

/* FILTER_MENU */

#filter_menu
{
    width:100%;
    
    position: relative;
    z-index: 2;
    clear: both;
    display: none;
    
    opacity: .95;
    background-color: #d3d3d3;
}

#filter_menu .menu
{
    display: none;
}

#filter_menu .by_datetime fieldset
{
    display:inline-block;
}

#filter_menu .footer
{
    width: 100%;
    text-align: right;
}

#filter_menu .footer .filter_button
{
	width: 70px;
	height: 30px;
    margin: 4px;
	
	text-align: center;
	line-height: 30px;
	background-color: #d3d3d3;
	border: 1px solid gray;
}

/* VIEW */

#query .view
{
	float:right;
}

#query .view .button_container
{
	margin-right: 4px;
	margin-top: 6px;
	
	float: left;
}

#query .view .button
{
	width: 36px;
	height: 36px;
	
	background-color: #323232;
	border: 0px;
}

#query .view .button_container.selected
{
	margin-top: 6px;
	padding-bottom: 6px;
	
	background-color: white;
}

#query .view .button_container.view_map.selected
{
	margin-top: 0px;
	padding-top: 6px;
	padding-bottom: 0px;
	
	background-color: #c0c0c0;
}
