/*#page*/
/*{*/
/*	margin: auto;*/
/*	width: 90%;*/
/*	min-width: 700px;*/
/*}*/
html, body, #page
{
    height: 100%;
    
}

.hidden
{
    display: none;
}
/* FOR GENERAL MARKUP LIKE LINK COLORS */

