#user
{
	margin-top: 5px;
	margin-right: 5px;
}

#user .spacer
{
	width: 3px;
	height: 1px;
	
	float: left;
}

#user .profile
{
	width: 120px;
	height: 35px;
	
	float: left;
	
	background-color: #d3d3d3;
}

#user .config
{
	width: 35px;
	height: 35px;

	float: left;
	
	background-color: #d3d3d3;
}