#event_details
{
    /*
    width: 50%;
    height: 75%;
    top: 12%;
    */
    width: 100%;
    height: 100%;
    
    display: table;
    
    position: relative;
    margin: 0 auto;
    
    /*border: 1px solid #323232;*/
    
}

/* POSTER */

#event_details .poster
{
    width: 66%;
    min-width: 300px;
    
    display: table-cell;
    
    background-color: #323232;
    box-shadow: inset 0px 2px 5px 5px rgba(0,0,0,.3);  
}

/* DETAILS */

#event_details .details
{
    height: 100%;
    width: 300px;
    
    display: table-cell;
    
    border-left: 1px solid black;
    background-color: #D3D3D3;
	font-family: Myriad Pro;
	word-wrap: break-word;
}

/* DETAILS: TOP */

#event_details .details .title
{
    padding: 5px;

    font-size: 36px;
    
    background-color: white;
}

#event_details .details .datetime
{
    width: 100%;

    display: table;

    background-color: white;  
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
    font-size: 15px;
}

#event_details .details .datetime .date
{
    display: table-cell;
    text-align: right;
    
    padding: 5px;
}

#event_details .details .datetime .time
{
    display: table-cell;
    
    padding: 5px;
}

#event_details .details .locationcategory
{
    width: 100%;
    
    display: table;
        
    font-size: 15px;
    font-style: italic;
    text-shadow: 1px 1px 0px white, 1px 1px 0px white;

    box-shadow: inset 0px 2px 5px rgba(0,0,0,.2);  
}

#event_details .details .locationcategory .location
{
    display: table-cell;
    padding: 8px;
    
    color: black;
    text-decoration: none;
}

#event_details .details .locationcategory .location .name
{
}


#event_details .details .locationcategory .category
{
    width: 30px;
    padding: 9px;
    
    display: table-cell;
    
    vertical-align: middle;
    color: black;
    text-decoration: none;
}

/* DETAILS: MIDDLE */

#event_details .details .middle
{
    padding: 10px;

    overflow-y: auto;
    
    box-shadow: inset 0px -2px 5px rgba(0,0,0,.2);  
}

#event_details .details .description
{
    width: 300px;
}

/* DETAILS: BOTTOM */


#event_details .details .bottom
{
    width: 100%;

    display: table;
    
    background-color: white;
}

#event_details .details .bottom .left
{
    padding: 5px;

    display: table-cell;
}

#event_details .details .bottom .right
{
    padding: 5px;

    display: table-cell;
    text-align: right;
}
