#results
{
    padding-left: 5px;
    padding-right: 5px;
}

.events
{
    width: 100%;
    background-color: white;
}

.events a
{
    text-decoration: none;
    color: black;
}

.events tr:hover td.title a
{
    text-decoration: none;
    color: darkblue;
}

.events thead
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    color: gray;
}

.events tbody tr
{
    overflow: hidden;
}

.events tbody tr:hover
{
    background-color: #F0F0F0;
}

.events td
{
    padding: 5px;
    font-family: arial;
    border-bottom: solid 1px lightgray;
}

.events .category
{
    width: 30px;
}

.events tbody .event .category
{
    vertical-align: middle;
}

.events .datetime
{
    width: 78px;
}

.events tbody .event .datetime .day
{
    font-size: 10pt;
}

.events tbody .event .datetime .time
{
    font-size: 8pt;
}

.events .title
{
    width: 200px;
}

.events tbody .event .title
{
    font-size: 12pt;
}

.events .location
{
    width: 200px;
}

.events tbody .event .location .name
{
    font-size: 10pt;
}

.events tbody .event .location .street
{
    font-size: 8pt;

    overflow: hidden;    
    
    line-height: 1.2em;
    max-height: 2.4em;
}

.events tbody .event .description
{
    font-size: 10pt;
    font-style: italic;
    
    padding-right: 10px;
}

.events tbody .event .description .wrapper
{
    overflow: hidden;
    line-height: 1.2em;
    max-height: 3.6em;
}
